main {
  isolation: isolate;
}

.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.header {
  max-width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  min-height: 500px;
  width: 100%;
  max-width: calc(1024px * 0.35 );
  top: 130px;
  left: 65vw;
}

.controlColumn {
  max-width: 50%;
}
